main {
  display: block;
}
.nx-table td.nx-table-cell-actions {
  width: 1%;
  white-space: nowrap;
  text-align: right;
}
.nx-table-cell-actions .nx-btn {
  margin-left: 6px;
}
td .nx-form-hint {
  display: block;
  margin-top: 2px;
}
